.App {
  text-align: center;
}

.layout-header {
  background: transparent;
  padding-top: 20px;
  padding-bottom: 20px;
}

.layout-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  min-height: 700px !important;
}

.layout-content input {
  font-size: 24px;
  margin-top: 5%;
  max-width: 600px;
  padding: 20px 20px;
  text-align: center;
  border-radius: 60px;
}

.layout-content button {
  display: block;
}

.layout-footer {

}

button.hz-button {
  width: 128px;
  font-size: 50px;
  height: 128px;
  margin-top: 48px;
}

button.preference-button {
    display: inline-block;
    margin-right: 10px;
}

.preference-button.vegan {
    background-color: green;
}

.preference-button.muslim {
    background-color: brown;
}

.preference-button.lactose {
    background-color: white;
}