.App {
  text-align: center;
}

.layout-header {
  background: transparent;
  padding-top: 20px;
  padding-bottom: 20px;
}

.layout-content {
  text-align: center;
  min-height: 700px !important;
}

input.ant-input {
  font-size: 24px;
  width: 800px;
  padding: 20px 20px;
  text-align: center;
  border-radius: 60px;
    height: 60px;
}

.layout-content button {
  display: block;
}

.layout-footer {

}

button.hz-button {
  width: 160px;
  font-size: 50px;
  height: 160px;
  margin-top: 48px;
}

div.search-box {
    margin-top: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

div.preference-box {
    padding: 0 20px;
    margin: 10px;
    width: 800px;
    text-align: left;
}

button.preference-button {
    display: inline-block;
    margin-right: 10px;
}

.preference-button.vegan {
    background-color: green;
}

.preference-button.muslim {
    background-color: brown;
}

.preference-button.lactose {
    background-color: white;
}

.search-result {
  width: 80vw;
  display: flex;
  justify-content: space-around;
}

.search-result > .food-card {
  border-radius: 25px;
}

ul.ant-card-actions {
  border: none;
  background: none;
}

ul.ant-card-actions > li {
  width: 25%;
}

.ant-card-actions > li {
  width: 30%;
  border: 1px solid #e8e8e8;
  border-radius: 15px;
}

.order-wrap {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

p.price {
  margin-top: inherit;
  margin-bottom: inherit;
}

button.order-button {
  width: 60%;
  border-radius: 25px;
  background: #4bf288;
  text-transform: uppercase;
}

.food-card .ant-card-cover img {
  border-radius: 45px;
  padding: 25px;
}