.App {
  text-align: center;
}

.layout-header {
  background: transparent;
  padding-top: 20px;
  padding-bottom: 20px;
}

.layout-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  min-height: 700px !important;
}

.layout-content input {
  font-size: 24px;
  margin-top: 5%;
  max-width: 600px;
  padding: 20px 20px;
  text-align: center;
  border-radius: 60px;
}

.layout-content button {
  display: block;
}

.layout-footer {

}

button.hz-button {
  width: 128px;
  font-size: 50px;
  height: 128px;
  margin-top: 48px;
}

.search-result {
  width: 80vw;
  display: flex;
  justify-content: space-around;
}

.search-result > .food-card {
  border-radius: 25px;
}

ul.ant-card-actions {
  border: none;
  background: none;
}

ul.ant-card-actions > li {
  width: 25%;
}

.ant-card-actions > li {
  width: 30%;
  border: 1px solid #e8e8e8;
  border-radius: 15px;
}

.order-wrap {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

p.price {
  margin-top: inherit;
  margin-bottom: inherit;
}

button.order-button {
  width: 60%;
  border-radius: 25px;
  background: #4bf288;
  text-transform: uppercase;
}

.food-card .ant-card-cover img {
  border-radius: 45px;
  padding: 25px;
}